@{
    ViewData["Title"] = "Index";
}
<style>
    :root {
        --primary-blue: #1a237e;
        --light-purple: #f3f4ff;
        --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #FFF8E2;
    }

    .container {
        text-align: center;
    }

    .navbar {
        background: var(--primary-blue);
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    h3 {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 8.5rem;
        margin-bottom: 2.5rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        width: 300px;
        margin: 0 auto;
    }

    label {
        font-size: 0;
    }

    input {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
    }

    input:focus {
        outline: none;
        border-color: #8a2be2;
        box-shadow: 0 0 5px rgba(138, 43, 226, 0.5);
    }

    button {
        background-color: #8a2be2;
        color: #fff;
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #6c1bb5;
    }
</style>

<div class="container">
    <h3>Enter Details</h3>
    <form action="/Home/SignUp" method="POST">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Email" required />

        <label for="year">Year:</label>
        <input type="text" id="year" name="year" placeholder="Year" required />

        <label for="gpa">Current GPA:</label>
        <input type="number" id="gpa" name="gpa" placeholder="GPA" required />

        <button type="submit">Sign Up</button>
    </form>
</div>