@{
    ViewData["Title"] = "SignUp";
}

<style>
    :root {
        --primary-blue: #1a237e;
        --light-purple: #f3f4ff;
        --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #FFF8E2;
    }

    .container {
        text-align: center;
    }

    .navbar {
        background: var(--primary-blue);
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    h3 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2.5rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        width: 400px;
        margin: 0 auto;
    }

    input {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
    }

    input:focus {
        outline: none;
        border-color: #8a2be2;
        box-shadow: 0 0 5px rgba(138, 43, 226, 0.5);
    }

    button {
        background-color: #8a2be2;
        color: #fff;
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #6c1bb5;
    }

    form ul li {
        font-size: x-small;
        list-style: disc inside;
        text-align: left;
    }

    label {
        display: block;
        color: black;
        font-size: small;
    }
</style>

<div class="container">
    <h3>Hello @ViewBag.Name</h3>
    <h4>Specific help Request</h4>
    <form action="/Home/Submitted" method="POST" enctype="multipart/form-data">

        <label for="helpfor">What do you need help studying for?</label>
        <input type="text" id="helpfor" name="helpfor" placeholder="Type here" required />
        <ul>
            <li>Exam / Test</li>
            <li>Entire Course</li>
            <li>Learning Specific material</li>
        </ul>
        <label for="weeks">How many weeks are you into the course</label>
        <input type="number" id="weeks" name="weeks" placeholder="Type here" required />

        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Type here" required />

        <label for="timeleft">How soon is you exam?</label>
        <input type="number" id="timeleft" name="timeleft" placeholder="Type Here" required />

        <label for="file">Upload relevant material</label>
        <input type="file" id="file" name="file" required />

        <button type="submit">Sign Up</button>
    </form>